# Local Terraform directories
**/.terraform/*

# Terraform variable values files
*.tfvars

# Terraform state files
*.tfstate
*.tfstate.*

# Terrafork lock file
**/.terraform.lock.hcl

# terraform plan output file
tfplan